.contact {
    background: darken($color-background, 5%);
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    .marquee {
        display: flex;
        align-items: center;
    }
    .item {
        font-size: 15vw;
        padding-right: 4vw;
        white-space: nowrap;
        user-select: none;
        font-family: 'PPNeueMontreal-Book';
    }
}
