.hero {
    height: 100vh;
    margin-top: rem(-8);
    display: flex;
    align-items: flex-end;
    .model {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .grid {
        width: 100%;
        padding-top: rem(8);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: rem(3);
        transform-origin: top center;
        h1 {
            font-size: rem(6.5);
            position: relative;
            pointer-events: none;
        }
        p {
            font-size: rem(1.6);
            line-height: 1.4;
            position: relative;
            pointer-events: none;
            margin: rem(1) 0 rem(3);
        }
        .btn {
            margin: unset;
            position: relative;
        }
        .right {
            display: flex;
            align-items: center;
            gap: rem(1);
            position: relative;
            p,
            a {
                margin: unset;
                font-size: rem(1.2);
            }
        }
    }
}
