.projects_list {
    padding: rem(10) 0;
    position: relative;
    h1 {
        font-size: rem(5);
        text-align: center;
        position: relative;
        pointer-events: none;
        margin-bottom: rem(12);
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(6);
        .project {
            .image {
                overflow: hidden;
            }
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: rem(2) rem(1) 0;
            }
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
            h3 {
                font-size: rem(3);
                position: relative;
                pointer-events: none;
            }
            a {
                font-size: rem(3.5);
            }
        }
    }
}
