@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url('../../../fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('../../../fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url('../../../fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-display: swap;
    font-weight: 700;
}

p,
h1,
h2,
h3,
li,
label,
input,
a,
button,
span,
address {
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

a,
button,
input,
select,
textarea {
    outline-color: $color-dark;
}

input,
select,
textarea {
    &:focus {
        outline-color: $color-dark;
        outline-style: solid;
        outline-width: 2px;
    }
}

[type='search'] {
    outline-offset: unset;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
